<% layout('layouts/boilerplate') %>
<header class="masthead" id="careers">
  <div class="container" style="background-color: rgba(75, 75, 75, 0.35)">
    <div class="masthead-subheading">Find a new career!</div>
    <div class="masthead-heading text-uppercase">Careers at MLPM</div>
  </div>
</header>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-4 justify-content-center align-items-center">
      <div
        class="card justify-content-center align-items-center"
        style="width: 18rem"
      >
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
        </span>
        <div class="card-body">
          <h5 class="card-title">Join the Sales Team</h5>
          <p class="card-text">
            See available opportunities with MLPM's exciting sales team!
          </p>
          <div class="text-center">
            <a href="#" class="btn btn-primary">Apply Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 justify-content-center align-items-center">
      <div
        class="card justify-content-center align-items-center"
        style="width: 18rem"
      >
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-industry fa-stack-1x fa-inverse"></i>
        </span>
        <div class="card-body">
          <h5 class="card-title">Machinists / Millwrights</h5>
          <p class="card-text">
            Joing the MLPM team as a machinist or millwright!
          </p>
          <div class="text-center">
            <a href="#" class="btn btn-primary">Apply Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 justify-content-center align-items-center">
      <div
        class="card justify-content-center align-items-center"
        style="width: 18rem"
      >
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-mail-bulk fa-stack-1x fa-inverse"></i>
        </span>
        <div class="card-body">
          <h5 class="card-title">Other Opportunities</h5>
          <p class="card-text">
            See if there are other opportunities that fit your skillset!
          </p>
          <div class="text-center">
            <a href="#" class="btn btn-primary">Apply Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
