<% layout('layouts/boilerplate') %>
<header class="masthead" id="manufacturing">
  <div class="container" style="background-color: rgba(75, 75, 75, 0.7)">
    <div class="masthead-heading text-uppercase">MLPM Manufacturing</div>
    <div class="masthead-subheading">Find out what MLPM can create for you</div>
  </div>
</header>
