<% layout('layouts/boilerplate') %>
<header class="masthead" id="millwrighting">
  <div class="container" style="background-color: rgba(75, 75, 75, 0.5)">
    <div class="masthead-subheading">Find a new career!</div>
    <div class="masthead-heading text-uppercase">Careers at MLPM</div>
  </div>
</header>
